<div class="container mt-3">
    <h2>Login form</h2>
    <form [formGroup]="loginform" (ngSubmit)="submittedlogin()" >
      <div class="mb-3 mt-3">
        <label for="email">Email</label>
        <div class="col-sm-5">
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" formControlName="email">
        </div>
      </div>
      <div class="mb-3">
        <label for="pwd">Password</label>
        <div class="col-sm-5">
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" formControlName="pwd">
        </div>
      </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <div class="text-left pt-4 text-muted">Don't have account? <a id="forget" routerLink="/signup">signup</a></div>
        <div class="text-left pt-4 text-muted">Go Home? <a id="forget" routerLink="">Home Page</a></div>
    </form>
  </div>